<!doctype  html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        {% if page.icon %}
          <link rel="icon" type="image/x-icon" href={{page.icon}}>
        {% endif %}
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/ttt">TTT</a>
            </nav>
        </header>
        <main>
            {{ content }}
        </main>
    </body>
</html>
